<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.4.0" targetFramework="net461" />
  <package id="CommandLineParser" version="1.9.71" targetFramework="net461" />
  <package id="FluentValidation" version="6.4.1" targetFramework="net461" />
  <package id="SystemWrapper.Interfaces" version="0.19.0.115" targetFramework="net461" />
</packages>